.report-page{

padding:40px;
background:#f8f9fc;
min-height:100vh;

}


.report-page h1{

font-size:32px;

}


.report-page p{

color:#667085;

}



.report-tools{

display:flex;
justify-content:space-between;
margin:30px 0;

}



.search-box{

background:white;
height:45px;
width:330px;
display:flex;
align-items:center;
gap:10px;
padding:0 15px;
border-radius:10px;

}


.search-box input{

border:none;
outline:none;

}



.report-tools button{

background:#6755f5;
color:white;
border:none;
border-radius:10px;
padding:12px 20px;
display:flex;
gap:8px;
align-items:center;

}



.report-card{

background:white;
padding:25px;
border-radius:18px;

}



table{

width:100%;
border-collapse:collapse;

}


th{

padding:15px;
color:#667085;
text-align:left;

}



td{

padding:18px;
border-top:1px solid #eee;

}



td svg{

vertical-align:middle;
margin-right:8px;

}


td button{

border:none;
background:#f4f4f5;
padding:8px;
margin-right:8px;
border-radius:8px;

}